{% extends './layout.html' %}

        {% block body %}

				<!-- Banner -->
					<section id="banner" class="style2">
						<div class="inner">
							<span class="image">
								<img src="{{ url_for('static', filename='images/campeonato-banner.jpg') }}" alt="" />
								
							</span>
							<header class="major">
								<h1>Campeonatos</h1>
							</header>
							<div class="content">
								<p>En Soccer Evolution tenemos los mejores espacios y canchas para que realices tu campeonato como lo imaginas. ¿Qué esperas?!</p>
								<div class="col-6 col-12-xsmall">
									<button href="{{ url_for('arrendar') }}"  class="button secondary  ">Arrienda Aquí  </button>
								</div>
								
					
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">
							<section id="two" class="spotlights">
								<section>
									<a href="campeonatos.html" class="image">
										<img src="{{ url_for('static', filename='images/campeonato-basketbol.jpg') }}" alt="" data-position="center center" />
									</a>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3>Organizamos tu campeonato</h3>
											</header>
											<p>Escríbenos para poder organizar el campeonato que deseas, tú pones las reglas de tu propio campeonato, o si quieres te podemos facilitar
												    unas bases de campeonato ya armadas para que te evites todo tipo de papeleo. La organización no tiene ningún valor, solo te preocupas de pagar las canchas, balones y camisetas que necesites.  </p>
											<ul class="actions">
												<li><a href="{{ url_for('contacto') }}" class="button">Escribenos</a></li>
											</ul>
										</div>
									</div>
								</section>
								<section>
									<a href="campeonatos.html" class="image">
										<img src="{{ url_for('static', filename='images/gatoradess.jpg') }}" alt="" data-position="top center" />
									</a>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3>¿Te falto algo? </h3>
											</header>
											<p>No te preocupes tenemos camisetas, pelotas, raquetas, aguas hidratantes y todo lo necesario para tu campeonato.</p>
											<ul class="actions">
												<li><a href="{{ url_for('otros') }}" class="button">Agregar</a></li>
											</ul>
										</div>
									</div>
								</section>
					</div>

				<!-- Contacto -->
					<section id="contact">
						<div class="inner">
							<section>
								<form method="post" action="#">
									<div class="fields">
										<div class="field half">
											<label for="name">Name</label>
											<input type="text" name="name" id="name" />
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input type="text" name="email" id="email" />
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea name="message" id="message" rows="6"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send Message" class="primary" /></li>
										<li><input type="reset" value="Clear" /></li>
									</ul>
								</form>
							</section>
							<section class="split">
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-envelope"></span>
										<h3>Email</h3>
										<a href="#">soccer.evolution91@gmail.com</a>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-phone"></span>
										<h3>Teléfono</h3>
										<span>(22) 8567646</span>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-home"></span>
										<h3>Dirección</h3>
										<span>Av. Ferrocarril 123, Santiago,<br />
										Región Metropolitana, Chile.<br />
										</span>
									</div>
								</section>
							</section>
						</div>
					</section>

					{% endblock %}