{% extends './layout.html' %}

        {% block body %}

				<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
					<section id="banner" class="style2">
						<div class="inner">
                            <a href="{{ url_for('index') }}" class="back-arrow" style="text-decoration: none; border-bottom: none;"><i class="fas fa-light fa-arrow-left"></i></a>
							<span class="image">
								<img src="{{ url_for('static', filename='images/cancha.jpg') }}" alt="" />
							</span>
							<header class="major">
								<h1>Nuestras canchas</h1>
							</header>
							<div class="content">
								<p>La mayor variedad en canchas de la Región Metropolitana.</p>
					
							</div>
						</div>
					</section>

				<!-- Main -->
                <div id="main">
					
                    <!-- One -->
					{% if id_usuario %}
                        <section id="one" class="tiles">
                            <article>
                                <span class="image">
                                    <img src="{{ url_for('static', filename='images/cancha_2.jpg') }}" alt="" />
                                </span>
                                <header class="major">
                                    
                                    <h3><a href="{{ url_for('cancha_futbol', id=id_usuario) }}" class="link">Football</a></h3>
                                    <p>Canchas desde 5 hasta 11 jugadores por lado.</p>
                                </header>
                            </article>
                            <article>
                                <span class="image">
                                    <img src="{{ url_for('static', filename='images/basketball.jpg') }}" alt="" />
                                </span>
                                <header class="major">
                                    <h3><a href="{{ url_for('cancha_basket', id=id_usuario) }}" class="link">Basketball</a></h3>
                                    <p>Canchas para 5 jugadores por lado.</p>
                                </header>
                            </article>
                            <article>
                                <span class="image">
                                    <img src="{{ url_for('static', filename='images/tenis.jpg') }}" alt="" />
                                </span>
                                <header class="major">
                                    <h3><a href="{{ url_for('cancha_tenis', id=id_usuario) }}" class="link">Tenis</a></h3>
                                    <p>Tenis y padel. </p>
                                </header>
                            </article>
                     
                            <article>
                                <span class="image">
                                    <img src="{{ url_for('static', filename='images/otros.jpg') }}" alt="" />
                                </span>
                                <header class="major">
                                    <h3><a href="{{ url_for('otros') }}" class="link"> Otros</a></h3>
                                    <p>Reihidratantes, agua mineral, balones, todo lo que necesitas lo encontras aquí.</p>
                                </header>
                            </article>
                        </section>
						{% else %}
                        <section id="one" class="tiles">
                            <article>
                                <span class="image">
                                    <img src="{{ url_for('static', filename='images/cancha_2.jpg') }}" alt="" />
                                </span>
                                <header class="major">
                                    
                                    <h3><a href="{{ url_for('cancha_futbol') }}" class="link">Football</a></h3>
                                    <p>Canchas desde 5 hasta 11 jugadores por lado.</p>
                                </header>
                            </article>
                            <article>
                                <span class="image">
                                    <img src="{{ url_for('static', filename='images/basketball.jpg') }}" alt="" />
                                </span>
                                <header class="major">
                                    <h3><a href="{{ url_for('cancha_basket') }}" class="link">Basketball</a></h3>
                                    <p>Canchas para 5 jugadores por lado.</p>
                                </header>
                            </article>
                            <article>
                                <span class="image">
                                    <img src="{{ url_for('static', filename='images/tenis.jpg') }}" alt="" />
                                </span>
                                <header class="major">
                                    <h3><a href="{{ url_for('cancha_tenis') }}" class="link">Tenis</a></h3>
                                    <p>Tenis y padel. </p>
                                </header>
                            </article>
                     
                            <article>
                                <span class="image">
                                    <img src="{{ url_for('static', filename='images/otros.jpg') }}" alt="" />
                                </span>
                                <header class="major">
                                    <h3><a href="{{ url_for('otros') }}" class="link"> Otros</a></h3>
                                    <p>Reihidratantes, agua mineral, balones, todo lo que necesitas lo encontras aquí.</p>
                                </header>
                            </article>
                        </section>

						{% endif %}
                    <!-- Two -->


                </div>
				<!-- Contact -->
					


								{% endblock %}