{% extends './layout.html' %}

        {% block body %}
		
				<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
				<section id="banner" class="style2">
					<div class="inner">
						<span class="image">
							<img src="{{ url_for('static', filename='images/pic07.jpg') }}" alt="" />
						</span>
						<header class="major">
							<h1>Nuestras canchas</h1>
						</header>
						<div class="content">
							<p>La mayor variedad en canchas de la Región Metropolitana.</p>
				
						</div>
					</div>
				</section>
				<!-- Main -->
					<div id="main">

						<!-- One
							<section id="one">
								<div class="inner">
									<header class="major">
										<h2>Sed amet aliquam</h2>
									</header>
									<p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis magna sed nunc rhoncus condimentum sem. In efficitur ligula tate urna. Maecenas massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Nullam et orci eu lorem consequat tincidunt vivamus et sagittis magna sed nunc rhoncus condimentum sem. In efficitur ligula tate urna.</p>
								</div>
							</section> -->

						<!-- Two -->
							<section id="two" class="spotlights">
								<section>
									<a href="generic.html" class="image">
										<img src="{{ url_for('static', filename='images/cancha-basquetbal.jpg') }}"  alt="" data-position="center center" />
									</a>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3>basquetbol Gimnasio</h3>
											</header>
											<p>Cancha de basquetbol techada, con piso de parquet. Con una dimensión de 28 x 15 m. Nuestra cancha de Basketball tiene medidas profesionales para que tu experiencia sea de otro nivel.</p>
											<ul class="actions">
												<li><a href="{{ url_for('arrendar') }}" class="button">Arrendar</a></li>
											</ul>
										</div>
									</div>
								</section>
								<section>
									<a href="generic.html" class="image">
										<img src="{{ url_for('static', filename='images/cancha-basquetbal.jpg') }}" alt="" data-position="top center" />
									</a>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3>Cancha basquetbol Poliuretano</h3>
											</header>
											<p>Cancha de basquetbol al aire libre con piso de poliuretano con capacidad de 5 jugadores por equipo.</p>
											<ul class="actions">
												<li><a href="{{ url_for('arrendar') }}" class="button">Arrendar</a></li>
											</ul>
										</div>
									</div>
								</section>
								<section>
									<a href="generic.html" class="image">
										<img src="{{ url_for('static', filename='images/cancha-basquetbal3.jpg') }}" alt="" data-position="25% 25%" />
									</a>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3>Canchas basquetbol  </h3>
											</header>
											<p>Cancha de basquetbol al aire libre con piso de poliuretano.</p>
											<ul class="actions">
												<li><a href="{{ url_for('arrendar') }}" class="button">Arrendar</a></li>
											</ul>
										</div>
									</div>
								</section>

				
					</div>
					{% endblock %}