{% extends './layout.html' %}

        {% block body %}
		
				<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
				<section id="banner" class="style2">
					<div class="inner">
						<a href="{{ url_for('canchas') }}" class="back-arrow" style="text-decoration: none; border-bottom: none;"><i class="fas fa-light fa-arrow-left"></i></a>
						<span class="image">
							<img src="{{ url_for('static', filename='images/tenis-banner.jpg') }}" alt="" />
						</span>
						<header class="major">
							<h1>Nuestras canchas</h1>
						</header>
						<div class="content">
							<p>La mayor variedad en canchas de la Región Metropolitana.</p>
				
						</div>
					</div>
				</section>
				<!-- Main -->
					<div id="main">

						<!-- One
							<section id="one">
								<div class="inner">
									<header class="major">
										<h2>Sed amet aliquam</h2>
									</header>
									<p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis magna sed nunc rhoncus condimentum sem. In efficitur ligula tate urna. Maecenas massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Nullam et orci eu lorem consequat tincidunt vivamus et sagittis magna sed nunc rhoncus condimentum sem. In efficitur ligula tate urna.</p>
								</div>
							</section> -->

						<!-- Two -->
				 
							<section id="two" class="spotlights">
								{% for cancha in cancha_tenis %}
								<section>
									<a class="image">
										<img src="{{ url_for('static', filename= cancha.img_cancha_tenis) }}" alt="" data-position="center center" />
									</a>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3>{{cancha.nombre_cancha_tenis}}</h3>
											</header>
											<p>{{cancha.descripcion_cancha_tenis}}</p>
											<p> <strong>${{cancha.valor_cancha_tenis}}</strong></p>
											<ul class="actions">
												<li><a href="{{ url_for('arrendar',  id_cancha= cancha.id_cancha_tenis, nombre_cancha=cancha.nombre_cancha_tenis,valor_cancha=cancha.valor_cancha_tenis , img_cancha=cancha.img_cancha_tenis) }}" class="button">Arrendar</a></li>
											</ul>
										</div>
									</div>
								</section>
								{% endfor %}
							</section>
						
							{% endblock %}