{% extends './layout.html' %}

        {% block body %}
		
				<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
				<section id="banner" class="style2">
					<div class="inner">
						<a href="{{ url_for('canchas') }}" class="back-arrow" style="text-decoration: none; border-bottom: none;"><i class="fas fa-light fa-arrow-left"></i></a>
						<span class="image">
							<img src="{{ url_for('static', filename='images/banner-cami.jpg') }}" alt="" />
						</span>
						<header class="major">
							<h1>Nuestras canchas</h1>
						</header>
						<div class="content">
							<p>La mayor variedad en canchas de la Región Metropolitana.</p>
				
						</div>
					</div>
				</section>
				<!-- Main -->
					<div id="main">

						<!-- Two -->
				 
							<section id="two" class="spotlights">
								{% for cancha in cancha_futbol %}
								<section>
									<a class="image">
										<img src="{{ url_for('static', filename= cancha.img_cancha_futbol) }}" alt="" data-position="center center" />
									</a>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3>{{cancha.nombre_cancha_futbol}}</h3>
											</header>
											<p>{{cancha.descripcion_cancha_futbol}}</p>
											<p> <strong>${{cancha.valor_cancha_futbol}}</strong></p>
											<ul class="actions">
												<li><a href="{{ url_for('arrendar', id_cancha= cancha.id_cancha_futbol, nombre_cancha=cancha.nombre_cancha_futbol, valor_cancha=cancha.valor_cancha_futbol, img_cancha=cancha.img_cancha_futbol ) }}" class="button">Arrendar</a></li>
											</ul>
										</div>
									</div>
								</section>
								{% endfor %}
							</section>
						
							{% endblock %}