{% extends './layout.html' %}


{% block body %}

<section id="banner" class="major">
    <div class="inner">
      <a href="{{ url_for('administrador') }}" class="back-arrow" style="text-decoration: none; border-bottom: none;"><i class="fas fa-light fa-arrow-left"></i></a>
        <header class="major">
            <h1>Administrador Negocio</h1>
        </header>
        <div class="content">
            <p>Nómina de trabjadores, registro de mantención a canchas, reportes y más.</p>
        </div>
    </div>
</section>

<section id="one">
    <div class="inner">
<div class="accordion">
    <div class="accordion-item">
        <div class="accordion-header">
        <h3>Trabajador</h3>
        <div class="add-cancha">
    
    </div>
        </div>
        <div class="accordion-content">
        <div class="table-wrapper">
            <table>
            <thead>
                <tr>
                <th>id trabajador</th>  
                <th>Nombre trabajador</th>
                <th>Apellido trabajador</th>
                <th>Comuna trabajador</th>
                <th>Sueldo trabajador</th>
                <th>fecha contratacion trabajador</th>
                <th></th>
                </tr>
            </thead>
            <tbody>
                {% for trabajador in trabajadores %}
                <tr>
                <td>{{ trabajador.id_trabajador }}</td>
                <td>{{ trabajador.nombre_trabajador }}</td>
                <td>{{ trabajador.apellido_trabajador }}</td>
                <td>{{ trabajador.comuna_trabajador }}</td>
                <td>{{ trabajador.sueldo_trabajador }}</td>
                <td>{{ trabajador.fecha_contratacion_trabajador }}</td>
                <td><a href="" data-toggle="tooltip" data-placement="top" data-original-title="Editar"><i class="fas fa-solid fa-user-pen" style="cursor:pointer;"></i></a></td>
                <td><a href="" data-toggle="tooltip" data-placement="top" data-original-title="Eliminar"><i class="fas fa-solid fa-trash" style="cursor:pointer;"></i></a></td>
                </tr>
                {% endfor %}
                <td></td>
                <td></td>
                <td></td>
								<td style="text-align: center;"><a class="agregar-trabajador" data-toggle="tooltip" data-placement="top" data-original-title="Agregar"><i class="fas fa-solid fa-circle-plus" style="cursor:pointer; text-decoration: none;"></i></a></td>

            </tbody>
            <tfoot>
                
    
            </tfoot>
            </table>
        </div>
        </div>
    </div>

    <!-- Mantención canchas -->

    <div class="accordion-item">
        <div class="accordion-header">
            <h3>Mantención Canchas </h3>
        </div>
        <div class="accordion-content">
            <div class="table-wrapper">
                <table>
                    <thead>
                    <tr>
                        <th>Id Mantencion</th>
                        <th>Id Trabajdor</th>
                        <th>Nombre Cancha</th>
                        <th>Nombre Trabajador</th>
                        <th>Fecha Mantención</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for mantencion in mantenciones %}
                    <tr>
                        <td>{{ mantencion.id_mantencion }}</td>
                        <td>{{ mantencion.id_trabajador }}</td>
                        <td>{{ mantencion.nombre_cancha }}</td>
                        <td>{{ mantencion.nombre_trabajdor }}</td>
                        <td>{{ mantencion.fecha_mantencion }}</td>
                        <td><a href="" data-toggle="tooltip" data-placement="top" data-original-title="Editar"><i class="fas fa-solid fa-user-pen" style="cursor:pointer;"></i></a></td>
                        <td><a href="" data-toggle="tooltip" data-placement="top" data-original-title="Eliminar"><i class="fas fa-solid fa-trash" style="cursor:pointer;"></i></a></td>
                    </tr>
                    {% endfor %}
                    <td></td>
                    <td></td>
             
                    <td style="text-align: right;"><a class="agregar-mantencion" data-toggle="tooltip" data-placement="top" data-original-title="Agregar"><i class="fas fa-solid fa-circle-plus" style="cursor:pointer; text-decoration: none;"></i></a></td>
                    </tbody>
                    <tfoot>
            
                    </tfoot>
                </table>
                </div>
        </div>
        </div>
        
        <!--Pagos Servicios -->

        <div class="accordion-item">
        <div class="accordion-header">
            <h3>Pago Servicios</h3>

        </div>
        <div class="accordion-content">
            <div class="table-wrapper">
                <table>
                    <thead>
                    <tr>
                        <th>Id Servicio</th>
                        <th>Nombre Servicio</th>
                        <th>Monto Pago</th>
                        <th>Numero Cliente</th>
                        <th>Fecha Ultimo pago</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for servicio in servicios %}
                    <tr>
                        <td>{{ servicio.id_servicio }}</td>
                        <td>{{ servicio.nombre_servicio }}</td>
                        <td>{{ servicio.monto_pago }}</td>
                        <td>{{ servicio.numero_cliente }}</td>
                        <td>{{ servicio.fecha_ulpago }}</td>
                        <td><a href="" data-toggle="tooltip" data-placement="top" data-original-title="Editar"><i class="fas fa-solid fa-user-pen" style="cursor:pointer;"></i></a></td>
                        <td><a href="" data-toggle="tooltip" data-placement="top" data-original-title="Eliminar"><i class="fas fa-solid fa-trash" style="cursor:pointer;"></i></a></td>
                    </tr>
                    {% endfor %}
                    <td></td>
                <td></td>
                <td></td>
								<td style="text-align: left;"><a class="agregar-servicio" data-toggle="tooltip" data-placement="top" data-original-title="Agregar"><i class="fas fa-solid fa-circle-plus" style="cursor:pointer; text-decoration: none;"></i></a></td>
                    </tbody>
                    <tfoot>
            
                    </tfoot>
                </table>
                </div>
        </div>
        </div>
        <!--Liquidaciones de Pago -->
        <div class="accordion-item">
            <div class="accordion-header">
                <h3>Liquidaciones de Pago</h3>
               
            </div>
            <div class="accordion-content">
                <div class="table-wrapper">
                    <table>
                        <thead>
                        <tr>
                            <th>Id Liquidacion</th>
                            <th>Id Trabajador</th>
                            <th>Nombre Trabajador</th>
                            <th>Mes Pago</th>
                            <th>Año</th>
                            <th>Monto Liquido</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for liquidacion in liquidaciones %}
                        <tr>
                            <td>{{ liquidacion.id_liquidacion }}</td>
                            <td>{{ liquidacion.id_trabajador }}</td>
                            <td>{{ liquidacion.nombre_trabajador }}</td>
                            <td>{{ liquidacion.mes_pago }}</td>
                            <td>{{ liquidacion.anno }}</td>
                            <td>{{ liquidacion.monto_liquido }}</td>
                            <td><a href="" data-toggle="tooltip" data-placement="top" data-original-title="Editar"><i class="fas fa-solid fa-user-pen" style="cursor:pointer;"></i></a></td>
                            <td><a href="" data-toggle="tooltip" data-placement="top" data-original-title="Eliminar"><i class="fas fa-solid fa-trash" style="cursor:pointer;"></i></a></td>
                        </tr>
                        {% endfor %}

                        <td></td>
                        <td></td>
           
                        <td style="text-align: right;"><a class="agregar-liquidacion" data-toggle="tooltip" data-placement="top" data-original-title="Agregar"><i class="fas fa-solid fa-circle-plus" style="cursor:pointer; text-decoration: none;"></i></a></td>
                        </tbody>
                        <tfoot>
                
                        </tfoot>
                    </table>
                    </div>
            </div>
            
            </div>


</div>
    
    </div>
</section>


<!-- MODAL AGREGAR TRABAJADOR -->
<div id="modal_agregar_trabajador" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmar-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title " id="confirmar-modal-label">¿Desea agregar un nuevo trabajador?</h2>
          <a type="text" id="cerrar_modal" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </a>
        </div>
        <div class="modal-body">
          <input type="text" id="nombre_cancha" placeholder="nombre_cancha">
          <br>
          <input type="text" id="descripcion" placeholder="descripcion">
          <br>
          <input type="text" id="valor" placeholder="valor">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="cancelar_btn" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>

  <!-- MODAL AGREGAR MANTENCION CANCHA -->
<div id="modal_agregar_cancha" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmar-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title " id="confirmar-modal-label">¿Desea agregar una nueva cancha?</h2>
          <a type="text" id="cerrar_modal" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </a>
        </div>
        <div class="modal-body">
          <input type="text" id="nombre_cancha" placeholder="nombre_cancha">
          <br>
          <input type="text" id="descripcion" placeholder="descripcion">
          <br>
          <input type="text" id="valor" placeholder="valor">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="cancelar_btn" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>

  <!-- MODAL AGREGAR PAGO SERVICIOS -->
<div id="modal_agregar_cancha" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmar-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title " id="confirmar-modal-label">¿Desea agregar una nueva cancha?</h2>
          <a type="text" id="cerrar_modal" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </a>
        </div>
        <div class="modal-body">
          <input type="text" id="nombre_cancha" placeholder="nombre_cancha">
          <br>
          <input type="text" id="descripcion" placeholder="descripcion">
          <br>
          <input type="text" id="valor" placeholder="valor">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="cancelar_btn" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>

  <!-- MODAL AGREGAR LIQUIDACION DE PAGO -->
<div id="modal_agregar_cancha" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmar-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title " id="confirmar-modal-label">¿Desea agregar una nueva camiseta?</h2>
          <a type="text" id="cerrar_modal" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </a>
        </div>
        <div class="modal-body">
          <input type="text" id="nombre_cancha" placeholder="nombre_cancha">
          <br>
          <input type="text" id="descripcion" placeholder="descripcion">
          <br>
          <input type="text" id="valor" placeholder="valor">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="cancelar_btn" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>

  

{% endblock %}