{% extends './layout.html' %}

        {% block body %}

				<!-- Main -->
					<div id="main" class="alt">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h1>Arriendo de cancha </h1>
									</header>
									<span class="image main"><img src="images/pic11.jpg" alt="" /></span>
						

                                    <h3>Por favor seleccione un horario disponible</h3>
									
													<h4>Horarios</h4>
													<form action="/arrendar" method="POST">
													<div class="table-wrapper">
														
														<table>
															<thead>
																<tr>
																	<th>Cancha</th>
																	<th>Fecha</th>
																	<th>Inicio</th>
																	<th>Término</th>
																	<th>Valor</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	{% if inicio_sesion %}
																	<td><input type="text" name="nombre_cancha" value= "{{nombre_cancha}}"disabled></td>
																	{% endif %}
																	<td><input type="text" name="datepicker" id="datepicker" placeholder="Seleccione una fecha"></td>
																	
																	<td>
																		<select id="hora_inicio" name="hora_inicio">
																			<option value="">---</option>
																			{% for hora in horarios %}
																				<option value="{{ hora.inicio }}">{{ hora.inicio }}</option>
																			{% endfor %}
																		</select>
																	</td>
																	<td>
																		<select id="hora_fin" name="hora_fin">
																			<option value="">---</option>
																			{% for hora in horarios %}
																				
																				<option value="{{ hora.termino }}">{{ hora.termino }}</option>
																			{% endfor %}
																		</select>
																	</td>
																	
																	{% if inicio_sesion %}
																	<td>
																		$<span  name="valor_cancha"> {{ valor_cancha }}</span>
																	</td>
																	{% endif %}
																</tr>

															</tbody>
															<tfoot>
														
															</tfoot>
														</table>
														<button type="button" id="boton-agregar" class="btn btn-primary agregar-cancha">Agregar al carrito</button>
													</div>
												</form>
							
							<div id="contenedor-button">
								<div id="button-div-left" class="button-div">
								  <a href="{{ url_for('carro_compras') }}" id="open_modal" class="button primary">Ir al pago</a>
								</div>
								<div id="button-div-right" class="button-div">
								  <a href="{{ url_for('canchas') }}" class="button primary">Volver a canchas</a>
								</div>
							  </div>
							  
					</div>
				</section>
	


					  <div  id="modal_arrendar" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmar-modal-label" aria-hidden="true">
						<div class="modal-dialog" role="document">
						  <div class="modal-content">
							<div class="modal-header">
							  <h2 class="modal-title" id="confirmar-modal-label">Antes de continuar...</h2>
							  <a type="text" id="cerrar_modal"class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							  </a>
							</div>
							<div class="modal-body">
							  ¿Desea agregar este producto al carrito?
							</div>
							<div class="modal-footer">
							  <button type="button" class="btn btn-secondary" id="cancelar_btn"data-dismiss="modal">Cancelar</button>
							  <button type="button" class="btn btn-primary" id="confirmar-btn">Confirmar</button>
							</div>
						  </div>
						</div>
					</div>
	

					
					<div  id="modal_condicion" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmar-modal-label" aria-hidden="true">
						<div class="modal-dialog" role="document">
						  <div class="modal-content">
							<div class="modal-header">
							  <h2 class="modal-title" id="confirmar-modal-label">Faltan datos...</h2>
							  <a type="text" id="cerrar_modal"class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							  </a>
							</div>
							<div class="modal-body">
								Los campos de fecha, hora inicio y hora fin son obligatorios.
							</div>
							<div class="modal-footer">
							  <button type="button" class="btn btn-secondary" id="cancelar_btn"data-dismiss="modal">OK</button>
							 
							</div>
						  </div>
						</div>
					</div>
					{% endblock %}