{% extends './layout.html' %}

        {% block body %}

				<!-- Main -->
					<div id="main" class="alt">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h1>Arriendo de cancha </h1>
									</header>
									<span class="image main"><img src="images/pic11.jpg" alt="" /></span>
						

                                    <h3>Por favor seleccione un horario disponible</h3>

													<h4>Horarios</h4>
													<div class="table-wrapper">
														<table>
															<thead>
																<tr>
																	<th>Fecha</th>
																	<th>Hora</th>
																	<th>Valor</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>01-01-0001</td>
																	<td>00:00:00</td>
																	<td>25000</td>
																</tr>

															</tbody>
															<tfoot>
														
															</tfoot>
														</table>
													</div>
								</div>
							</section>
                            <div id= "contenedor-button">
                                <div id= "button-div">    <a href="#" class="button primary">Continuar</a></div>
                            </div>
					</div>

	
	
					{% endblock %}