{% extends './layout.html' %}

        {% block body %}
    <div class="box">
        <div class="container m-4 m-auto">
           
            <form action="api/v1/transbank/transaction/create" method="POST">
                <div class="mb-3">
                    
                    <div class="m-5">
                        <table>
                            <thead>
                                <tr>
                                    <th>Nombre producto</th>
                                    <th>Fecha</th>
                                    <th>Inicio</th>
                                    <th>Término</th>
                                    <th>Valor</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for producto in productos %}
                                <tr>
                                    <td hidden>{{ producto.id_carro }}</td>
                                    <td>{{ producto.nombre_producto }}</td>
                                    <td>{{ producto.fecha }}</td>
                                    <td>{{ producto.hora_inicio }}</td>
                                    <td>{{ producto.hora_fin }}</td>
                                    <td>{{ producto.valor_producto  }}</td>
                                    <td><a class="eliminar-btn"  style="text-decoration: none;" data-id="{{ producto.id_carro }}"><i class="fas fa-trash"></i> </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                      
                    </div>
                    <div>
                        {% if valor_total %}
                        <label for="txt-amount" class="form-label">TOTAL A PAGAR</label>
                        <input type="text" class="form-control" id="txt-amount" name="amount" value="{{valor_total}}" disabled>
                        {% endif %}
                    </div>
                    <div>
                        <label for="txt-buy-order" class="form-label">buy_order</label>
                        <input type="text" class="form-control" id="txt-orden-compra" name="buyorder" value="FDEAWER4523D" disabled>
                    </div>                                   
                </div>
                <div id="btn" class="mt-4 d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="submit" class="btn mt-3">
                        <img src="{{ url_for('static', filename='images/webpay-desktop-logo_color.svg') }}" alt="" />
                    </button>
                    
                </div>
            </form>
            
        </div>
    </div>
        {% endblock %}