{% extends './layout.html' %}

        {% block body %}

        <section id="banner" class="major">
            <div class="inner">
                <a href="{{ url_for('index') }}" class="back-arrow" style="text-decoration: none; border-bottom: none;"><i class="fas fa-light fa-arrow-left"></i></a>
                <header class="major">
                    <h1>Soccer Evolution</h1>
                </header>
                <div class="content">
                    <p>Estamos para ayudarte, Nececitas comunicarte con nosotros? No dudes en contactarnos Escribenos al Whatsapp</p>
                    <ul class="actions">
                        
                        <li><a href="{{ url_for('canchas', id=id_usuario) }}" class="button next scrolly">Escribenos al WhatsApp</a></li>
                    </ul>
                </div>
            </div>
        </section>

        <section id="contact">
            <div class="inner">
                
                <section>
                    <form method="POST" action="contacto">
                        <div class="fields">
                            <div class="field half">
                                <label for="name">Nombre</label>
                                <input type="text" name="nombre" id="nombre" />
                            </div>
                            <div class="field half">
                                <label for="email">Email</label>
                                <input type="text" name="email" id="email" />
                            </div>
                            <div class="field">
                                <label for="message">Mensaje</label>
                                <textarea name="mensaje" placeholder= "Escríbenos tus comentarios"id="mensaje" rows="6"></textarea>
                            </div>
                        </div>
                        <ul class="actions">
                            <li><input type="submit" value="Enviar mensaje" class="primary" /></li>
                            <li><input type="reset" value="Limpiar" /></li>
                        </ul>
                    </form>
                </section>
                <section class="split">
                    <section>
                        <div class="contact-method">
                            <span class="icon solid alt fa-envelope"></span>
                            <h3>Email</h3>
                            <a href="#">soccer.evolution91@gmail.com</a>
                        </div>
                    </section>
                    <section>
                        <div class="contact-method">
                            <span class="icon solid alt fa-phone"></span>
                            <h3>Teléfono</h3>
                            <span>(22) 8567646</span>
                        </div>
                    </section>
                    <section>
                        <div class="contact-method">
                            <span class="icon solid alt fa-home"></span>
                            <h3>Dirección</h3>
                            <span>Av. Ferrocarril 123, Santiago,<br />
                            Región Metropolitana, Chile.<br />
                            </span>
                        </div>
                    </section>
                </section>
            </div>
        </section>
  

     {% endblock %}