{% extends './layout.html' %}

        {% block body %}

				<!-- Banner -->
					<section id="banner" class="style2">
						<div class="inner">
							<span class="image">
								<img src="{{ url_for('static', filename='images/estacionamiento1.jpg') }}" alt="" />
								
							</span>
							<header class="major">
								<h1>Estacionamientos</h1>
							</header>
							<div class="content">
								<p>En Soccer Evolution no tndrás que preocuparte por donde dejar tu auto, tenemos un amplio espacio especialmente para que estaciones tu auto, y lo mejor no tiene costo! es gratis para todos nuestros jugadores!</p>
								<div class="col-6 col-12-xsmall">
									<button href="{{ url_for('arrendar') }}"  class="button secondary  ">Arrienda Aquí  </button>
								</div>
								
					
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">	

						<!-- Two -->
							<section id="two" class="spotlights">
								<section>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3>Estacionamientos</h3>
											</header>
											<p>No sabes si venir en auto, bicileta o moto? No te preocupes!! tenemos estacionamientos para todos los vehículos, además todas nuestras dependencias cuentan con camaras de seguridad para tu mayor tranquilidad y seguridad.  </p>
											
										</div>
									</div>
								</section>
								<section>
									<div class="carousel">
										
										<div class="slide active">
										<img src="{{ url_for('static', filename='images/estacionamiento2.jpg') }}" alt="Slide 1" >
										</div>
										<div class="slide">
										<img src="{{ url_for('static', filename='images/bici.jpg') }}" alt="Slide 2">
										</div>
										<div class="slide">
										<img src="{{ url_for('static', filename='images/estacionamiento-techado.jpg') }}" alt="Slide 3">
										</div>
										
										<a class="carousel-prev" onclick="prevSlide()">&#10094;</a>
										<a class="carousel-next" onclick="nextSlide()">&#10095;</a>
									</div>
									
									
									
								</section>
					</div>

				<!-- Contacto -->
					<section id="contact">
						<div class="inner">
							<section>
								<form method="post" action="#">
									<div class="fields">
										<div class="field half">
											<label for="name">Name</label>
											<input type="text" name="name" id="name" />
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input type="text" name="email" id="email" />
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea name="message" id="message" rows="6"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send Message" class="primary" /></li>
										<li><input type="reset" value="Clear" /></li>
									</ul>
								</form>
							</section>
							<section class="split">
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-envelope"></span>
										<h3>Email</h3>
										<a href="#">soccer.evolution91@gmail.com</a>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-phone"></span>
										<h3>Teléfono</h3>
										<span>(22) 8567646</span>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-home"></span>
										<h3>Dirección</h3>
										<span>Av. Ferrocarril 123, Santiago,<br />
										Región Metropolitana, Chile.<br />
										</span>
									</div>
								</section>
							</section>
						</div>
					</section>

					{% endblock %}