{% extends './layout.html' %}

        {% block body %}

				<!-- Banner -->
					<section id="banner" class="style2">
						<div class="inner">
							<a href="{{ url_for('index') }}" class="back-arrow" style="text-decoration: none; border-bottom: none;"><i class="fas fa-light fa-arrow-left"></i></a>
							<span class="image">
								<img src="{{ url_for('static', filename='images/banner-estacionamiento.jpg') }}" alt="" />
								
							</span>
							<header class="major">
								<h1>Estacionamientos</h1>
							</header>
							<div class="content">
								<p>En Soccer Evolution no tndrás que preocuparte por donde dejar tu auto, tenemos un amplio espacio especialmente para que estaciones tu auto, y lo mejor no tiene costo! es gratis para todos nuestros jugadores!</p>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">	

						<!-- Two -->
							<section id="two" class="spotlights">
								<section>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3>Estacionamientos</h3>
											</header>
											<p>No sabes si venir en auto, bicileta o moto? No te preocupes!! tenemos estacionamientos para todos los vehículos, además todas nuestras dependencias cuentan con camaras de seguridad para tu mayor tranquilidad y seguridad.  </p>
											
										</div>
									</div>
								</section>
								<section>
									<div class="carousel">
										
										<div class="slide active">
										<img src="{{ url_for('static', filename='images/estacionamiento7.jpg') }}" alt="Slide 1" >
										</div>
										<div class="slide">
										<img src="{{ url_for('static', filename='images/bici1.jpg') }}" alt="Slide 2">
										</div>
										<div class="slide">
										<img src="{{ url_for('static', filename='images/estacionamiento-fuera.jpg') }}" alt="Slide 3">
										</div>
										
										<a class="carousel-prev" onclick="prevSlide()">&#10094;</a>
										<a class="carousel-next" onclick="nextSlide()">&#10095;</a>
									</div>
									
									
									
								</section>
					</div>

				<!-- Contacto -->
					

					{% endblock %}