{% extends './layout.html' %}

        {% block body %}

					<!-- Banner -->
						<section id="banner" class="major">
							<div class="inner">
								<header class="major">
									<h1>Soccer Evolution</h1>
								</header>
								<div class="content">
									<p>Somos el ultimo integrante de tu equipo. Jugamos una gran variedad de deportes, entre ellos, futbol, basketball, padel. Te sorprenderas!!, nos encontramos ubicados en Av.Ferrocarril 123, en la comuna de Santiago.</p>
									<ul class="actions">
										<li><a href="{{ url_for('login') }}" class="button next scrolly">Arrienda con nosotros</a></li>
									</ul>
								</div>
							</div>
						</section>
	
					<!-- Main -->
						<div id="main">
	
							<!-- One -->
								<section id="one" class="tiles">
									<article>
										<span class="image">
											<img src="images/cancha_2.jpg" alt="" />
										</span>
										<header class="major">
											
											<h3><a href="{{ url_for('cancha_futbol') }}" class="link">Football</a></h3>
											<p>Canchas desde 5 hasta 11 jugadores por lado.</p>
										</header>
									</article>
									<article>
										<span class="image">
											<img src="images/basketball.jpg" alt="" />
										</span>
										<header class="major">
											<h3><a href="{{ url_for('cancha_basket') }}" class="link">Basketball</a></h3>
											<p>Canchas para 5 jugadores por lado.</p>
										</header>
									</article>
									<article>
										<span class="image">
											<img src="images/tenis.jpg" alt="" />
										</span>
										<header class="major">
											<h3><a href="{{ url_for('cancha_tenis') }}" class="link">Tenis</a></h3>
											<p>Tenis y padel. </p>
										</header>
									</article>
									<article>
										<span class="image">
											<img src="images/campeonato.jpg" alt="" />
										</span>
										<header class="major">
											<h3><a href="landing.html" class="link">Campeonatos</a> </h3>
											<p>Te ayudamos a organizar tu campeonato.</p>
										</header>
									</article>
									<article>
										<span class="image">
											<img src="images/estacionamiento.jpg" alt="" />
										</span>
										<header class="major">
											<h3><a href="landing.html" class="link">Estacionamientos</a></h3>
											<p>Reserva tu estacionamiento.</p>
										</header>
									</article>
									<article>
										<span class="image">
											<img src="images/otros.jpg" alt="" />
										</span>
										<header class="major">
											<h3><a href="landing.html" class="link"> Otros</a></h3>
											<p>Reihidratantes, agua mineral, balones, todo lo que necesitas lo encontras aquí.</p>
										</header>
									</article>
								</section>
	
							<!-- Two -->
								<section id="two">
									<div class="inner">
										<header class="major">
											<h2>Massa libero</h2>
										</header>
										<p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus amet pharetra et feugiat tempus.</p>
										<ul class="actions">
											<li><a href="registro.html" class="button next">Get Started</a></li>
										</ul>
									</div>
								</section>
	
						</div>
	
					<!-- Contact -->
						<section id="contact">
							<div class="inner">
								<section>
									<form method="post" action="#">
										<div class="fields">
											<div class="field half">
												<label for="name">Nombre</label>
												<input type="text" name="name" id="name" />
											</div>
											<div class="field half">
												<label for="email">Email</label>
												<input type="text" name="email" id="email" />
											</div>
											<div class="field">
												<label for="message">Mensaje</label>
												<textarea name="message" placeholder= "Escríbenos tus comentarios"id="message" rows="6"></textarea>
											</div>
										</div>
										<ul class="actions">
											<li><input type="submit" value="Enviar mensaje" class="primary" /></li>
											<li><input type="reset" value="Limpiar" /></li>
										</ul>
									</form>
								</section>
								<section class="split">
									<section>
										<div class="contact-method">
											<span class="icon solid alt fa-envelope"></span>
											<h3>Email</h3>
											<a href="#">soccerevolution@gmail.com</a>
										</div>
									</section>
									<section>
										<div class="contact-method">
											<span class="icon solid alt fa-phone"></span>
											<h3>Teléfono</h3>
											<span>(22) 8567646</span>
										</div>
									</section>
									<section>
										<div class="contact-method">
											<span class="icon solid alt fa-home"></span>
											<h3>Dirección</h3>
											<span>Av. Ferrocarril 123, Santiago,<br />
											Región Metropolitana, Chile.<br />
											</span>
										</div>
									</section>
								</section>
							</div>
						</section>
			
						{% endblock %}



