<!DOCTYPE HTML>
<html>
	<head>
		<title>Soccer Evolution</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />

	
		<script src="https://kit.fontawesome.com/8a340e4015.js" crossorigin="anonymous"></script>
		<!-- Incluye jQuery -->
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	
		<!-- jQuery UI -->
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
		<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>



		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='assets/css/noscript.css') }}" /></noscript>


		<script>
			jQuery(function($) {
			    var today = new Date();			
			    $("#datepicker").datepicker
				({
					minDate: today,
					dateFormat: 'dd/mm/yy',
					onSelect: function(dateText, inst) 
					{
						var selectedDate = $(this).datepicker("getDate");
						console.log(selectedDate);
					}
			    });
			});
		</script>
		<script>
			$(document).ready(function() 
			{
				$('#dropdownBtn').click(function() 
				{
					$('#dropdownMenu').toggle();
				});
			});
		</script>
	</head>

    <body class="is-preload">
        <div id="wrapper">     
            <!-- Header -->
                <header id="header" class="alt">
                    <a href="{{ url_for('index') }}" class="logo"><strong>Soccer</strong> <span>Evolution</span></a>
					{% if cc_vacio %}
					<nav>

						{% if admin %}
						<a href="{{ url_for('administrador') }}" style="text-align: center;">ADMINISTRADOR</a>
						{% endif %}
						{% if nombre_usuario %}
						<a href="{{ url_for('perfil_usuario', id=id_usuario ) }}" style="text-align: center;">{{nombre_usuario}}</a>
						{% endif %}
					    <div class="dropdown">
							<a class="dropdown-toggle" id="dropdownBtn"> <i class="fas fa-shopping-cart"></i></a>
							<ul class="dropdown-menu dropdown-menu-right alt" id="dropdownMenu">
								<li><a href="#" >   {{cc_vacio}}</a></li>

							</ul>
						</div>
						{% else %}
						<nav>
							{% if admin %}
							<a href="{{ url_for('administrador') }} ">ADMINISTRADOR</a>
							{% endif %}
							{% if nombre_usuario %}
							<a href="{{ url_for('perfil_usuario', id=id_usuario ) }}">{{nombre_usuario}}</a>
							{% endif %}
							<div class="dropdown">
								<a href="{{ url_for('carro_compras') }}"> <i class="fas fa-shopping-cart"></i><span class="badge" id="cantidad-productos">{{ count_productos }}</span></a>
							</div>
						{% endif %}
						<a href="#menu">Menu</a>
					</nav>
					
                </header>

            <!-- Menu -->
			
                <nav id="menu">
					
					
                    <ul class=" links list-group">
		
						{% if inicio_sesion %}
                        <li class="list-group"><a href="{{ url_for('index', id=id_usuario) }}">Inicio</a></li>
						<li class="list-group"><a href="{{ url_for('perfil_usuario', id=id_usuario )}}">Mi perfil</a></li>
						<li class="list-group"><a href="{{ url_for('canchas', id=id_usuario ) }}">Canchas</a></li>
						{% else %}
						<li class="list-group"><a href="{{ url_for('index')}}">Inicio</a></li>
						<li class="list-group"><a href="{{ url_for('login')}}">Mi perfil</a></li>
						<li class="list-group"><a href="{{ url_for('canchas') }}">Canchas</a></li>
						{% endif %}
                        <li class="list-group"><a href="{{ url_for('contacto') }}">Contacto</a></li>	
						<li class="list-group"><a href="{{ url_for('quienes_somos') }}">¿Quienes somos?</a></li>
                    </ul>
                    <ul class="actions stacked">
						{% if inicio_sesion %}
							<!-- Elementos HTML para usuario autenticado -->
							<li><a href="{{ url_for('logout') }}" class="button primary fit">Cerrar sesion</a></li>
						{% else %}
							<!-- Elementos HTML para usuario no autenticado -->
							<li><a href="{{ url_for('login') }}" class="button primary fit">Iniciar sesion</a></li>
						{% endif %}
                        
                        <li><a href="{{ url_for('registro') }}" class="button fit">Registro</a></li>
						
                    </ul>
					
                </nav>
	{% block body %}

    {% endblock %}
	<script>
	setTimeout(function() 
	{
		var flashContainer = document.getElementById("flash-messages-container");
		if (flashContainer) 
		{
		  flashContainer.style.display = "none";
		}
	}, 4000);
	</script>
	</body>
				<!-- Footer -->
				<footer id="footer">
					<div class="inner">
						<ul class="icons">
							<li><a href="https://twitter.com/soccer_evol" class="icon brands alt fa-twitter" target="_blank"><span class="label" >Twitter</span></a></li>
							<li><a href="https://www.facebook.com/" class="icon brands alt fa-facebook-f" target="_blank"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="https://github.com/LuisMontesLorca/Portafolio_final" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
							<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
						</ul>
						<ul class="copyright">
							<li>&copy; DuocUC</li></li>
						</ul>
					</div>
				</footer>

		

	<!-- Scripts -->
		<script src="{{url_for('static', filename='assets/js/jquery.ui.datepicker-es.js') }}"></script>
		<script src="{{url_for('static', filename='assets/js/jquery.min.js') }}"></script>
		<script src="{{url_for('static', filename='assets/js/jquery.scrolly.min.js') }}"></script>
		<script src="{{url_for('static', filename='assets/js/jquery.scrollex.min.js') }}"></script>
		<script src="{{url_for('static', filename='assets/js/browser.min.js') }}"></script>
		<script src="{{url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
		<script src="{{url_for('static', filename='assets/js/util.js') }}"></script>
		<script src="{{url_for('static', filename='assets/js/main.js') }}"></script>
		<script src="{{url_for('static', filename='assets/js/carrusel.js') }}"></script>
		<script src="{{url_for('static', filename='assets/js/hora.js') }}"></script>
		<script src="{{url_for('static', filename='assets/js/select.js') }}"></script>
		<script src="{{url_for('static', filename='assets/js/select_editar.js') }}"></script>
		<script src="{{url_for('static', filename='assets/js/carro_compras.js') }}"></script>
		<script src="{{url_for('static', filename='assets/js/validation.js') }}"></script>
		<script src="{{url_for('static', filename='assets/js/botones.js') }}"></script>
		<script src="{{url_for('static', filename='assets/js/flash.js') }}"></script>
		<script src="{{url_for('static', filename='assets/js/alerts.js') }}"></script>
		<script src="{{url_for('static', filename='assets/js/registro.js') }}"></script>
		<script src="{{url_for('static', filename='assets/js/administrador.js') }}"></script>
		<script src="{{url_for('static', filename='assets/js/contraseña.js') }}"></script>
		<script src="{{url_for('static', filename='assets/js/jquery-validation/dist/jquery.validate.min.js') }}"></script>
		<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
		
		

</html>