{% extends './layout.html' %}

        {% block body %}

				<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
					<section id="banner" class="style2">
						<div class="inner">
							<span class="image">
								<img src="{{ url_for('static', filename='images/banner-somos.jpeg') }}" alt="" />
							</span>
							<header class="major">
								<h1>Soccer Evolution</h1>
							</header>
							<div class="content">
								<p>Soccer Evolution una revolución para tu juego. Una vez que nos pruebes no podrás parar</p>
					
							</div>
						</div>
					</section>

				<!-- Main -->
                <div id="main">
                        <section id="two">
                            <div class="inner">
                                <header class="major">
                                    <h2>¿Quines Somos?</h2>
                                </header>
                                <p>Soccer Evolution nace el 2010 con la idea de dos amigos amantes de los deportes, que soñaban con tener un espacio tranquilo y seguro para poder jugar, un día a Carlos se le ocurrio que cumplieran ese sueño y el de muchos aficionados más, por lo que empezaron armando dos canchas, en la parcela de los padres de Diego, y comenzaron a arrendarla a sus amigos y conocidos para que jugaran. Soccer Evolution creció rápidamente en popularidad. La noticia sobre estas canchas seguras y bien cuidadas se extendió como un reguero de pólvora entre la comunidad de aficionados al fútbol. Pronto, lo que comenzó como un pequeño proyecto entre amigos se convirtió en un próspero negocio.
									Carlos y Diego se encuentran gestionando un centro deportivo completo, con varias canchas y servicios adicionales, como vestuarios y una pequeña cafetería. La demanda era tan alta que tuvieron que contratar personal adicional y ampliar las instalaciones para satisfacer la creciente demanda.
									El éxito de Soccer Evolution fue más allá de lo que Carlos y Diego habían imaginado. Su dedicación y pasión por el deporte se reflejaban en la calidad del lugar que habían creado. Además de proporcionar un espacio seguro y agradable para jugar, también organizaron torneos y ligas locales, atrayendo a equipos de todas partes de la ciudad.  </p>
									<p>Con el tiempo, Soccer Evolution se convirtió en un punto de encuentro para la comunidad futbolística. Se establecieron lazos de amistad y camaradería entre jugadores de diferentes edades y habilidades. El espíritu competitivo se mezclaba con la diversión y la pasión por el deporte, creando un ambiente único.</p>
									<p>Carlos y Diego han  logrado proporcionar a la comunidad un lugar donde todos pudieran disfrutar del fútbol de una manera segura y divertida. Además, Soccer Evolution se convirtió en una plataforma para descubrir nuevos talentos y fomentar el crecimiento del deporte en la zona. </p>
									<p>Con el paso de los años, Soccer Evolution continuó evolucionando. Se construyeron más instalaciones, se introdujeron programas de entrenamiento y se establecieron alianzas con clubes, colegios y federaciones deportivas. El nombre de Soccer Evolution se volvió sinónimo de calidad y excelencia en el ámbito del fútbol. Carlos y Diego se sentían gratificados al ver cómo su idea inicial se había transformado en algo tan significativo para la comunidad y se esfuerzan cotinuamente para entregarles un experiencia de primer nivel a todos los deportistas.</p>
									<ul class="actions">
                                    <li><a href="{{ url_for('registro') }}" class="button next">Atrevete a vivir la experiencia</a></li>
                                </ul>
                            </div>
                        </section>

                </div>
				<!-- Contact -->
					<section id="contact">
						<div class="inner">
							<section>
								<form method="post" action="#">
									<div class="fields">
										<div class="field half">
											<label for="name">Name</label>
											<input type="text" name="name" id="name" />
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input type="text" name="email" id="email" />
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea name="message" id="message" rows="6"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send Message" class="primary" /></li>
										<li><input type="reset" value="Clear" /></li>
									</ul>
								</form>
							</section>
							<section class="split">
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-envelope"></span>
										<h3>Email</h3>
										<a href="#">soccer.evolution91@gmail.com</a>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-phone"></span>
										<h3>Teléfono</h3>
										<span>(22) 8567646</span>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-home"></span>
										<h3>Dirección</h3>
										<span>Av. Ferrocarril 123, Santiago,<br />
										Región Metropolitana, Chile.<br />
										</span>
									</div>
								</section>
							</section>
						</div>
					</section>

								{% endblock %}