{% extends './layout.html' %}

        {% block body %}

                    <div class=" box">


					<h2 id="content">Inicio de sesion</h2>
										<p>Para un arriendo seguro por favor, inicia sesion con tus credenciales: </p>
										
                    <form method="POST" action="/login" id="form_login">
                        <div class="row gtr-uniform">
                            <div class="col-6 col-12-xsmall">
                                <input type="email" name="correo_login" id="correo_login" value="" placeholder="Correo" />
                                <p class="small-text"><a href="#" class="modal_olvido">¿Olvidaste tu contraseña?</a></p>
                            </div>
                            <div class="col-6 col-12-xsmall">
                                <input type="password" name="contraseña_login" id="contraseña_login" value="" placeholder="Contraseña" />
                            </div>
                            <div class="col-6 col-12-xsmall">
                                <button type="submit" value="Registrarse" class="button primary  ">Inicia sesion</button>
                            </div>
                            <div class="col-6 col-12-xsmall">
                                <a href="{{ url_for('registro') }}"  class="button secondary  ">Registrarse  </a>
                            </div>
                            
                            </div>
                    </form>
                    </div>
                            <!-- Break -->
                    

							<div id="flash-messages-container">
								{% with messages = get_flashed_messages() %}
								  {% if messages %}
									<div class="flash-messages">
									  {% for message in messages %}
										<div class="flash-message alert">{{ message }}</div>
									  {% endfor %}
									</div>
								  {% endif %}
								{% endwith %}
							  </div>



                <!-- MODAL OLVIDO CONTRASEÑA-->

                <div id="modal_olvido_contraseña" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmar-modal-label" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h2 class="modal-title" id="confirmar-modal-label">Ha olvidado su contraseña?</h2>
                              <a type="text" id="cerrar_modal" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                              </a>
                          </div>
                          <div class="modal-body">
                              <p>Si desea recuperar su contraseña, deberá validar su correo electrónico de registro, una vez validado, se le enviará un correo en el cual podrá restablecer su contraseña. ¿Está de acuerdo?</p>
                              <input type="email" name="correo_recuperacion" id="correo_recuperacion" placeholder="Escriba su correo electrónico" required />
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" id="recuperar_btn"  data-dismiss="modal">Sí</button>
                              <button type="button" class="btn btn-secondary" id="cancelar_btn" data-dismiss="modal">No</button>
                          </div>
                      </div>
                  </div>
              </div>
              
     
            
              <dialog id="alerta_recuperacion_password"  class="alerta-ampliada">
                <h3>El correo ha sido enviado con éxito.</h3>
                <button onclick="cerrarRecuperarContraseña()">Aceptar</button>
                </dialog>
                

                <dialog id="alerta_recuperacion_password_error" class="alerta-ampliada">
                  <h3>El correo ingresado no se encuentra registrado.</h3>
                  <button onclick="cerrarRecuperarContraseñaError()">Aceptar</button>
                  </dialog>

                  <dialog id="alerta_correo_vacio" class="alerta-ampliada">
                    <h3>Por favor, ingrese un correo electrónico</h3>
                    <button onclick="cerrarAlertaCorreoVacio()">Aceptar</button>
                    </dialog>
 {% endblock %}