{% extends './layout.html' %}

        {% block body %}

                    <div class=" box">


					<h2 id="content">Inicio de sesion</h2>
										<p>Para un arriendo seguro por favor, inicia sesion con tus credenciales: </p>
										
                    <form method="POST" action="/login" id="form_login">
                        <div class="row gtr-uniform">
                            <div class="col-6 col-12-xsmall">
                                <input type="email" name="correo_login" id="correo_login" value="" placeholder="Correo" />
                            </div>
                            <div class="col-6 col-12-xsmall">
                                <input type="text" name="contraseña_login" id="contraseña_login" value="" placeholder="Contraseña" />
                            </div>
                            <div class="col-6 col-12-xsmall">
                                <button type="submit" value="Registrarse" class="button primary  ">Inicia sesion</button>
                            </div>
                            <div class="col-6 col-12-xsmall">
                                <button href="{{ url_for('registro') }}"  class="button secondary  ">Registrarse  </button>
                            </div>
                            
                            </div>
                    </form>
                    </div>
                            <!-- Break -->
                    
 {% endblock %}