
{% extends './layout.html' %}

        {% block body %}
                    <div class=" box">
                    <h2>Mi perfil</h2>

                    {% if (usuarios) %}
                    <div class=" box">
                        <form method="POST" action="/perfil_usuario/{{ usuarios.id_usuario }}">
                            <div class="col-6 col-12-xsmall">
                                <span class="image left">
                                  <img src="{{ url_for('static', filename='images/imagen_perfil.jpg') }}" alt="" style="width: 400px; height: 400px;" />
                                </span>
                              </div>
                              
                        <div class="row gtr-uniform">
                            <input type="hidden" name="id_usuario" id="id_usuario" value="{{ usuarios.id_usuario }}">
                            <div class="col-6 col-12-xsmall">
                                <input type="text" name="rut_usuario" id="rut_usuario" value="{{ usuarios.rut_usuario }}" placeholder="Rut" readonly/>
                            </div>
                            <div class="col-6 col-12-xsmall">
                                <input type="text" name="nombre_usuario" id="nombre_usuario" value="{{ usuarios.nombre_usuario }}" placeholder="Nombres" readonly/>
                            </div>
                            <div class="col-6 col-12-xsmall">
                                <input type="text" name="apellido_usuario" id="apellido_usuario" value="{{ usuarios.apellido_usuario }}" placeholder="Apellidos" readonly/>
                            </div>
                            <div class="col-6 col-12-xsmall">
                                <input type="email" name="correo_usuario" id="correo_usuario" value="{{ usuarios.correo_usuario }}" placeholder="Email" readonly/>
                            </div>
  
                            <div class="col-6 col-12-xsmall">
                                <input type="text" name="telefono_usuario" id="telefono_usuario" value="{{ usuarios.telefono_usuario }}" placeholder="Fecha de nacimiento" readonly/>
                            </div>
                            <div class="col-6 col-12-xsmall">
                                <input type="text" name="direccion_usuario" id="direccion_usuario" value="{{ usuarios.direccion_usuario }}" placeholder="Dirección" readonly/>
                            </div>
                            <!-- SELECT REGION Y COMUNA -->
                            <div class="col-6 col-12-xsmall">
                                <select name="region_usuario" id="region_usuario" disabled>
                                    <option value="{{usuarios.region_usuario}}">{{usuarios.region_usuario}}</option>
                                </select>
                            </div>
                            <div class="col-6 col-12-xsmall">
                                <select name="provincia_usuario" id="provincia_usuario"  value="{{ usuarios.provincia_usuario }}"disabled>
                                    <option value="{{usuarios.provincia_usuario}}">{{usuarios.provincia_usuario}}</option>
                                </select>
                            </div>
                            <div class="col-6 col-12-xsmall">
                                <select name="comuna_usuario" id="comuna_usuario"  value="{{ usuarios.comuna_usuario }}"disabled>
                                    <option value="{{usuarios.comuna_usuario}}">{{usuarios.comuna_usuario}}</option>
                                </select>
                            </div>
                            <div class="col-6 col-12-xsmall">
                                <input  value="" hidden>
                            </div>
                            <div class="col-6 col-12-xsmall">
                                <a class="button primary" href="{{ url_for('editar_usuarios', id= usuarios.id_usuario) }}" id="open_modal" class="btn">Editar</a>
                            </div>
                     
                        </div>
                    </form>
                    <div class="box">
                    <h4>Historial de arriendos</h4>
                    <div class="table-wrapper">
                        <table>
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Hora</th>
                                    <th>Valor</th>
                                    <th>Cancha</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if arriendos_historial %}
                                {% for arriendos in arriendos_historial %}
                                <tr>
                                    <td>{{arriendos.fecha_arriendo}}</td>
                                    <td>{{arriendos.hora_arriendo}}</td>
                                    <td>{{arriendos.valor_arriendo}}</td>
                                    <td>{{arriendos.nombre_producto}}</td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                <tr>
                                    <td></td>
                                    <td><b>No hay arriendos</b></td>
                                    <td></td>
                                    <td></td>

                                </tr>
                                {% endif %}
                            </tbody>
                            <tfoot>
                        
                            </tfoot>
                        </table>
                    </div>
                </div>
                </div>
                    {% endif %}
                    </div>
                            <!-- Break -->
                   
                            

                            <div id="modal" class="modal">						
                                <div class="modal-content">
                                    <div class="box">
                                        <div class="modal-header">
                                            <h2>¿Estas seguro?</h2>
                                            <a id="close_modal" >&times;</a>
                                        </div>
                                        <div class="modal-body">
                                            <p>Tus datos serán actualizados, estás de acuerdo?</p>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <a class="button primary" href="{{ url_for('editar_usuarios', id= usuarios.id_usuario) }}" class="btn">Si</a>
                                        <a class="button">No</a>
                                    </div>
                                </div>
                            </div>
                                

                    {% endblock %}

