{% extends './layout.html' %}

        {% block body %}

				<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
					<section id="banner" class="style2">
						<div class="inner">
							<a href="{{ url_for('otros') }}" class="back-arrow" style="text-decoration: none; border-bottom: none;"><i class="fas fa-light fa-arrow-left"></i></a>

							<span class="image">
								<img src="{{ url_for('static', filename='images/fut-banner.jpg') }}" alt="" />
							</span>
							<header class="major">
								<h1>Arriendo de camisetas</h1>
							</header>
							<div class="content">
								<p>Lo que necesitas para no tener confuciones en la cancha, entregamos equipamiento de primera para que no tengas problemas con los colores de tus camisetas.</p>
							</div>
						</div>
					</section>

				<!-- Main -->
				
				
					<div id="main">
						{% if inicio_sesion %}
						<form id="formulario-camisetas " action="/camisetas" method="POST">
						<section id="two" class="spotlights">
							{% for camiseta in camisetas %}
							<section> 
								<a class="image">
									<img src="{{ url_for('static', filename= camiseta.imagen_camiseta) }} " alt="" data-position="center center"  style="height: 365px;"/>
								</a>
								<div class="content">
									<div class="inner">
										<header class="major">
											<h3>{{ camiseta.nombre_camiseta }}</h3>
										</header>
										<p>{{ camiseta.descripcion_camiseta }}</p>
										<p> <strong>${{ camiseta.valor_camiseta }}</strong></p>
										<ul class="actions">
											<li><button type="button" class="btn btn-primary agregar-camiseta" data-id_camiseta="{{ camiseta.id_camiseta }}" data-nombre_camiseta="{{ camiseta.nombre_camiseta }}" data-valor_camiseta="{{ camiseta.valor_camiseta }}"  data-img_camiseta="{{ camiseta.imagen_camiseta }}">Agregar al carrito</button></li>
											<input type="hidden" name="id_camiseta" value="{{ camiseta.id_camiseta }}">
											<input type="hidden" name="nombre_camiseta" value="{{ camiseta.nombre_camiseta }}">
											<input type="hidden" name="valor_camiseta" value="{{ camiseta.valor_camiseta }}">
										</ul>
									</div>
								</div>
							</section>
							{% endfor %}
						</section>
						</form>
						{% else %}
				
						<section id="two" class="spotlights">
							{% for camiseta in camisetas %}
							<section>
								<a class="image">
									<img src="{{ url_for('static', filename= camiseta.imagen_camiseta) }}" alt="" data-position="center center" />
								</a>
								<div class="content">
									<div class="inner">
										<header class="major">
											<h3>{{ camiseta.nombre_camiseta }}</h3>
										</header>
										<p>{{ camiseta.descripcion_camiseta }}</p>
										<p> <strong>${{ camiseta.valor_camiseta }}</strong></p>
										<ul class="actions">
											<li> <a href="{{ url_for('login') }}" class="button">Agregar al carro</a></li>
										</ul>
									</div>
								</div>
							</section>
							{% endfor %}
						</section>
						{% endif %}
					
					

						<div  id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmar-modal-label" aria-hidden="true">
							<div class="modal-dialog" role="document">
							  <div class="modal-content">
								<div class="modal-header">
								  <h5 class="modal-title" id="confirmar-modal-label">Confirmar acción</h5>
								  <a type="text" id="cerrar_modal"class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								  </a>
								</div>
								<div class="modal-body">
								  ¿Desea agregar este producto al carrito?
								</div>
								<div class="modal-footer">
								  <button type="button" class="btn btn-secondary" id="cancelar_btn"data-dismiss="modal">Cancelar</button>
								  <button type="button" class="btn btn-primary" id="confirmar-btn">Confirmar</button>
								</div>
							  </div>
							</div>
						</div>

						<dialog id="alerta_camisetas"  class="alerta-ampliada">
							<h3>Su producto se ha añadido al carrito de compras!! </h3>
							<button onclick="cerrarAlertaCamisetas()">Aceptar</button>
							<a class="primary_button_2"href="{{ url_for('carro_compras') }}">Ir al pago</a>
						  </dialog>
						

					{% endblock %}