{% extends './layout.html' %}

        {% block body %}

				<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
					<section id="banner" class="style2">
						<div class="inner">
							<span class="image">
								<img src="/soccer_evolution/app/static/images/campeonato-banner.jpg" alt="" />
							</span>
							<header class="major">
								<h1>Servicio de Hidratación y Alimentación</h1>
							</header>
							<div class="content">
								<p>Necesitas hidratarte? Tenemos rehidratantes, agua mineral, barras de cereal, frutas, proteínas</p>
							</div>
						</div>
					</section>

				<!-- Main -->
				{% if inicio_sesion %}
					<div id="main">

						<!-- Two -->
		 
						<section id="two" class="spotlights">
							{% for camiseta in camisetas %}
							<section>
								<a class="image">
									<img src="{{ url_for('static', filename= 'images/otros.jpg') }}" alt="" data-position="center center" />
								</a>
								<div class="content">
									<div class="inner">
										<header class="major">
											<h3>{{camiseta.nombre_camiseta}}</h3>
										</header>
										<p>{{camiseta.descripcion_camiseta}}</p>
										<ul class="actions">
											<li><a href="" class="button">Agregar al carro</a></li>
										</ul>
									</div>
								</div>
							</section>
							{% endfor %}
						</section>
						{% else %}
	 
						<section id="two" class="spotlights">
							{% for camiseta in camisetas %}
							<section>
								<a class="image">
									<img src="{{ url_for('static', filename= 'images/otros.jpg') }}" alt="" data-position="center center" />
								</a>
								<div class="content">
									<div class="inner">
										<header class="major">
											<h3>{{camiseta.nombre_camiseta}}</h3>
										</header>
										<p>{{camiseta.descripcion_camiseta}}</p>
										<ul class="actions">
											<li><a href="{{ url_for('login') }}" class="button">Agregar al carro</a></li>
										</ul>
									</div>
								</div>
							</section>
							{% endfor %}
						</section>
						{% endif %}
					
					{% endblock %}