{% extends './layout.html' %}

        {% block body %}

				<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
					<section id="banner" class="style2">
						<div class="inner">
							<span class="image">
								<img src="{{ url_for('static', filename='images/banner-bebidas-dep.jpg') }}" alt="" />
							</span>
							<header class="major">
								<h1>Otros</h1>
							</header>
							<div class="content">
								<p>Los mejores implementos para que puedas desarrollar tu deporte sin trabas !!</p>
					
							</div>
						</div>
					</section>

				<!-- Main -->
                <div id="main">
					
                    <!-- One -->
					{% if id_usuario %}
                        <section id="one" class="tiles">
                            <article>
                                <span class="image">
                                    <img src="{{ url_for('static', filename='images/cancha_2.jpg') }}" alt="" />
                                </span>
                                <header class="major">
                                    
                                    <h3><a href="{{ url_for('pelotas') }}" class="link">Balones</a></h3>
                                    <p>Balones de calidad y bien inflados para mejorar aún mas tu experiencia</p>
                                </header>
                            </article>
                            <article>
                                <span class="image">
                                    <img src="{{ url_for('static', filename='images/basketball.jpg') }}" alt="" />
                                </span>
                                <header class="major">
                                    <h3><a href="{{ url_for('camisetas')  }}" class="link">Camisetas</a></h3>
                                    <p>¿Necesitas la vestimenta necesaria para poder diferenciar los equipos?</p>
                                </header>
                            </article>
                            <article>
                                <span class="image">
                                    <img src="{{ url_for('static', filename='images/tenis.jpg') }}" alt="" />
                                </span>
                                <header class="major">
                                    <h3><a href="{{ url_for('bebidas') }}" class="link">Rehidratantes</a></h3>
                                    <p>Rehidratantes </p>
                                </header>
                            </article>
						
						{% else %}
						<section id="one" class="tiles">
                            <article>
                                <span class="image">
                                    <img src="{{ url_for('static', filename='images/cancha_2.jpg') }}" alt="" />
                                </span>
                                <header class="major">
                                    
                                    <h3><a href="{{ url_for('pelotas') }}" class="link">Balones</a></h3>
                                    <p>Balones de calidad y bien inflados para mejorar aún mas tu experiencia</p>
                                </header>
                            </article>
                            <article>
                                <span class="image">
                                    <img src="{{ url_for('static', filename='images/basketball.jpg') }}" alt="" />
                                </span>
                                <header class="major">
                                    <h3><a href="{{ url_for('camisetas') }}" class="link">Camisetas</a></h3>
                                    <p>¿Necesitas la vestimenta necesaria para poder diferenciar los equipos?</p>
                                </header>
                            </article>
                            <article>
                                <span class="image">
                                    <img src="{{ url_for('static', filename='images/tenis.jpg') }}" alt="" />
                                </span>
                                <header class="major">
                                    <h3><a href="{{ url_for('bebidas') }}" class="link">Rehidratantes</a></h3>
                                    <p>Rehidratantes </p>
                                </header>
                            </article>

						{% endif %}
                </div>
			

								{% endblock %}