{% extends './layout.html' %}

        {% block body %}

				<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
					<section id="banner" class="style2">
						<div class="inner">
							<span class="image">
								<img src="{{ url_for('static', filename='images/cancha.jpg') }}" alt="" />
							</span>
							<header class="major">
								<h1>Otros</h1>
							</header>
							<div class="content">
								<p>Los mejores implementos para que puedas desarrollar tu deporte sin trabas !!</p>
					
							</div>
						</div>
					</section>

				<!-- Main -->
                <div id="main">
					
                    <!-- One -->
					{% if id_usuario %}
                        <section id="one" class="tiles">
                            <article>
                                <span class="image">
                                    <img src="{{ url_for('static', filename='images/cancha_2.jpg') }}" alt="" />
                                </span>
                                <header class="major">
                                    
                                    <h3><a href="{{ url_for('pelotas') }}" class="link">Balones</a></h3>
                                    <p>Balones de calidad y bien inflados para mejorar aún mas tu experiencia</p>
                                </header>
                            </article>
                            <article>
                                <span class="image">
                                    <img src="{{ url_for('static', filename='images/basketball.jpg') }}" alt="" />
                                </span>
                                <header class="major">
                                    <h3><a href="{{ url_for('camisetas')  }}" class="link">Camisetas</a></h3>
                                    <p>¿Necesitas la vestimenta necesaria para poder diferenciar los equipos?</p>
                                </header>
                            </article>
                            <article>
                                <span class="image">
                                    <img src="{{ url_for('static', filename='images/tenis.jpg') }}" alt="" />
                                </span>
                                <header class="major">
                                    <h3><a href="{{ url_for('bebidas') }}" class="link">Rehidratantes</a></h3>
                                    <p>Rehidratantes </p>
                                </header>
                            </article>
						
						{% else %}
						<section id="one" class="tiles">
                            <article>
                                <span class="image">
                                    <img src="{{ url_for('static', filename='images/cancha_2.jpg') }}" alt="" />
                                </span>
                                <header class="major">
                                    
                                    <h3><a href="{{ url_for('pelotas') }}" class="link">Balones</a></h3>
                                    <p>Balones de calidad y bien inflados para mejorar aún mas tu experiencia</p>
                                </header>
                            </article>
                            <article>
                                <span class="image">
                                    <img src="{{ url_for('static', filename='images/basketball.jpg') }}" alt="" />
                                </span>
                                <header class="major">
                                    <h3><a href="{{ url_for('cancha_basket', id=id_usuario) }}" class="link">Camisetas</a></h3>
                                    <p>¿Necesitas la vestimenta necesaria para poder diferenciar los equipos?</p>
                                </header>
                            </article>
                            <article>
                                <span class="image">
                                    <img src="{{ url_for('static', filename='images/tenis.jpg') }}" alt="" />
                                </span>
                                <header class="major">
                                    <h3><a href="{{ url_for('cancha_tenis', id=id_usuario) }}" class="link">Rehidratantes</a></h3>
                                    <p>Rehidratantes </p>
                                </header>
                            </article>

						{% endif %}
                </div>
				<!-- Contact -->
					<section id="contact">
						<div class="inner">
							<section>
								<form method="post" action="#">
									<div class="fields">
										<div class="field half">
											<label for="name">Name</label>
											<input type="text" name="name" id="name" />
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input type="text" name="email" id="email" />
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea name="message" id="message" rows="6"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send Message" class="primary" /></li>
										<li><input type="reset" value="Clear" /></li>
									</ul>
								</form>
							</section>
							<section class="split">
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-envelope"></span>
										<h3>Email</h3>
										<a href="#">information@untitled.tld</a>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-phone"></span>
										<h3>Phone</h3>
										<span>(000) 000-0000 x12387</span>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-home"></span>
										<h3>Address</h3>
										<span>1234 Somewhere Road #5432<br />
										Nashville, TN 00000<br />
										United States of America</span>
									</div>
								</section>
							</section>
						</div>
					</section>

								{% endblock %}