{% extends './layout.html' %}

        {% block body %}

				<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
					<section id="banner" class="style2">
						<div class="inner">
							<span class="image">
								<img src="/soccer_evolution/app/static/images/campeonato-banner.jpg" alt="" />
							</span>
							<header class="major">
								<h1>Arriendo de bálones</h1>
							</header>
							<div class="content">
								<p>Lo que necesitas para despreocuparte de la pelota, nosotros te la pasamos. Tenemos bálones de calidad las que vamos cambiando constantemente para entregarte el mejor servicio.</p>
							</div>
						</div>
					</section>

				<!-- Main -->
				
				
					<div id="main">
						{% if inicio_sesion %}
						<form id="formulario-pelotas " action="/pelotas" method="POST">
						<section id="two" class="spotlights">
							{% for pelota in pelotas %}
							<section>
								<a class="image">
									<img  class="img_for" src="{{ url_for('static', filename= pelota.imagen_pelota) }} " alt="" data-position="center center" />
								</a>
								<div class="content">
									<div class="inner">
										<header class="major">
											<h3>{{ pelota.nombre_pelota }}</h3>
										</header>
										<p>{{ pelota.descripcion_pelota }}</p>
										<ul class="actions">
											<li><button type="button" class="btn btn-primary agregar-pelota" data-id_pelota="{{ pelota.id_pelota }}" data-nombre_pelota="{{ pelota.nombre_pelota }}" data-valor_pelota="{{ pelota.valor_pelota }}">Agregar al carrito</button></li>
											<input type="hidden" name="id_pelota" value="{{ pelota.id_pelota }}">
											<input type="hidden" name="nombre_pelota" value="{{ pelota.nombre_pelota }}">
											<input type="hidden" name="valor_pelota" value="{{ pelota.valor_pelota }}">
										</ul>
									</div>
								</div>
							</section>
							{% endfor %}
						</section>
						</form>
						{% else %}
				
							<section id="two" class="spotlights">
								{% for pelota in pelotas %}
								<section>
									<a class="image">
										<img src="{{ url_for('static', filename= pelota.imagen_pelota) }}" alt="" data-position="center center" />
									</a>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3>{{ pelota.nombre_pelota }}</h3>
											</header>
											<p>{{ pelota.descripcion_pelota }}</p>
											<ul class="actions">
												<li> <a href="{{ url_for('login') }}" class="button">Agregar al carro</a></li>
											</ul>
										</div>
									</div>
								</section>
								{% endfor %}
							</section>
						{% endif %}
					
						

						<div  id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmar-modal-label" aria-hidden="true">
							<div class="modal-dialog" role="document">
							  <div class="modal-content">
								<div class="modal-header">
								  <h5 class="modal-title" id="confirmar-modal-label">Confirmar acción</h5>
								  <a type="text" id="cerrar_modal"class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								  </a>
								</div>
								<div class="modal-body">
								  ¿Desea agregar este producto al carrito?
								</div>
								<div class="modal-footer">
								  <button type="button" class="btn btn-secondary" id="cancelar_btn"data-dismiss="modal">Cancelar</button>
								  <button type="button" class="btn btn-primary" id="confirmar-btn">Confirmar</button>
								</div>
							  </div>
							</div>
						</div>


						

					{% endblock %}